* {
    background-color: #C7DDB6;
    text-align: center;
}

/* Style for sign up title */
.Title{
    font-family:monospace;
    padding-bottom: 25px;
    color: white;
}

/* Style for the form */
.textbox {
    background-color: #95BB72;
    border-color: #95BB72;
    color: white;
}

.submit{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #A3C686;
    border-radius: 4px;
    border-color: #006e52;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
/*
    border: 1px solid transparent;
    padding: 17px 48px;
    min-height: 36px;
    min-width: 160px;
    color: #fff;
    background-color: #A3C686;
    border-radius: 500px;
    border-color: #006e52;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
*/
}

.submit:hover{
    transform: scale(1.04);
    background-color: #87AC69;
}

/*Style for paragraphs on info page*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid white;
    border-radius: 25px; /* Adjust this value to control squircle shape */
    overflow: hidden;
    padding: 10px;
    background-color: #87AC69;
}

.box{
    color: white;
    width: 500px;
    height: auto;
    border: 1px solid white;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 25px; /* Adjust this value to control squircle shape */
    overflow: hidden;
    background: #A3C686;
}

.box + .box {
    margin-bottom: 25px; /* Add some space between boxes */
}

.box_p{
    background: #A3C686;
}

.box:hover {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.responsive-image{
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 20%;
    width: 50%;
    height: 50%;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #C7DDB6;
    z-index: 200;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #C7DDB6;
	z-index: -10;
	text-align: center;
	line-height: 90vh;
	transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}