* {
    background-color: #C7DDB6;
    text-align: center;
}

/* Style for sign up title */
.Title{
    font-family:monospace;
    padding-bottom: 25px;
    color: white;
}

/* Style for the form */
.textbox {
    background-color: #95BB72;
    border-color: #95BB72;
    color: white;
}

/*Submit button style*/
.submit{
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #A3C686;
    border-radius: 4px;
    border-color: #006e52;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
   

}

/*Style for paragraphs on info page*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid white;
    border-radius: 25px; /* Adjust this value to control squircle shape */
    overflow: hidden;
    padding: 10px;
    background-color: #87AC69;

}

.box{
    color: white;
    width: 500px;
    height: auto;
    border: 1px solid white;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 25px; /* Adjust this value to control squircle shape */
    overflow: hidden;
    background: #A3C686;
    
}

.box + .box {
    margin-bottom: 25px; /* Add some space between boxes */
}

.box_p{
    background: #A3C686;
}

.submit-container{
    background-color: none;
}